<?xml version="1.0"?>
<monthly>

	<event>
		<id>1</id>
		<name>Event Name 1</name>
		<startdate>2016-2-1</startdate>
		<enddate></enddate>
		<starttime>9:00</starttime>
		<endtime>10:00</endtime>
		<color>#ffb128</color>
		<url>http://www.google.com</url>
	</event>

	<event>
		<id>2</id>
		<name>Event Name 2</name>
		<startdate>2016-2-02</startdate>
		<enddate></enddate>
		<starttime>10:30</starttime>
		<endtime>11:00</endtime>
		<color>#e94b35</color>
		<url>http://www.google.com</url>
	</event>

	<event>
		<id>3</id>
		<name>Event Name 3</name>
		<startdate>2016-2-12</startdate>
		<enddate>2016-2-13</enddate>
		<starttime>8:30</starttime>
		<endtime>10:00</endtime>
		<color>#2c97de</color>
		<url></url>
	</event>

	<event>
		<id>4</id>
		<name>Event Name 4</name>
		<startdate>2016-2-12</startdate>
		<enddate></enddate>
		<starttime>7:30</starttime>
		<endtime>10:00</endtime>
		<color>#ed7f00</color>
		<url></url>
	</event>

	<event>
		<id>5</id>
		<name>Event Name 5</name>
		<startdate>2016-2-22</startdate>
		<enddate></enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#733047</color>
		<url></url>
	</event>

	<event>
		<id>6</id>
		<name>Event Name 6</name>
		<startdate>2016-2-26</startdate>
		<enddate>2016-2-27</enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#7d8b25</color>
		<url></url>
	</event>

	<event>
		<id>1</id>
		<name>Event Name 1</name>
		<startdate>2016-3-1</startdate>
		<enddate></enddate>
		<starttime>9:00</starttime>
		<endtime>10:00</endtime>
		<color>#ffb128</color>
		<url>http://www.google.com</url>
	</event>

	<event>
		<id>2</id>
		<name>Event Name 2</name>
		<startdate>2016-3-02</startdate>
		<enddate></enddate>
		<starttime>10:30</starttime>
		<endtime>11:00</endtime>
		<color>#e94b35</color>
		<url>http://www.google.com</url>
	</event>

	<event>
		<id>3</id>
		<name>Event Name 3</name>
		<startdate>2016-3-12</startdate>
		<enddate>2016-2-13</enddate>
		<starttime>8:30</starttime>
		<endtime>10:00</endtime>
		<color>#2c97de</color>
		<url></url>
	</event>

	<event>
		<id>4</id>
		<name>Event Name 4</name>
		<startdate>2016-3-12</startdate>
		<enddate></enddate>
		<starttime>7:30</starttime>
		<endtime>10:00</endtime>
		<color>#ed7f00</color>
		<url></url>
	</event>

	<event>
		<id>5</id>
		<name>Event Name 5</name>
		<startdate>2016-3-22</startdate>
		<enddate></enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#733047</color>
		<url></url>
	</event>

	<event>
		<id>6</id>
		<name>Event Name 6</name>
		<startdate>2016-3-26</startdate>
		<enddate>2016-3-27</enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#7d8b25</color>
		<url></url>
	</event>

</monthly>
