<?xml version="1.0"?>
<monthly>


	<event>
		<id>1</id>
		<name>XML Events</name>
		<startdate>2017-1-2</startdate>
		<enddate>2016-1-3</enddate>
		<starttime>12:00</starttime>
		<endtime>2:00</endtime>
		<color>#ffb128</color>
		<url></url>
	</event>

	<event>
		<id>2</id>
        <name>XML Events</name>
        <startdate>2018-6-12</startdate>
        <enddate>2018-6-15</enddate>
        <description>
			<![CDATA[ 
			    <style>
			    table {
			        font-family: arial, sans-serif;
			        border-collapse: collapse;
			        width: 100%;
			    }

			    td, th {
			        border: 1px solid #dddddd;
			        text-align: left;
			        padding: 8px;
			    }

			    tr:nth-child(even) {
			        background-color: #dddddd;
			    }
			    </style>
			    <table>
			      <tr>
			        <th>Company</th>
			        <th>Contact</th>
			        <th>Country</th>
			      </tr>
			      <tr>
			        <td>Alfreds Futterkiste</td>
			        <td>Maria Anders</td>
			        <td>Germany</td>
			      </tr>
			      <tr>
			        <td>Centro comercial Moctezuma</td>
			        <td>Francisco Chang</td>
			        <td>Mexico</td>
			      </tr>
			      <tr>
			        <td>Ernst Handel</td>
			        <td>Roland Mendel</td>
			        <td>Austria</td>
			      </tr>
			      <tr>
			        <td>Island Trading</td>
			        <td>Helen Bennett</td>
			        <td>UK</td>
			      </tr>
			      <tr>
			        <td>Laughing Bacchus Winecellars</td>
			        <td>Yoshi Tannamuri</td>
			        <td>Canada</td>
			      </tr>
			      <tr>
			        <td>Magazzini Alimentari Riuniti</td>
			        <td>Giovanni Rovelli</td>
			        <td>Italy</td>
			      </tr>
			    </table>
			]]>
        </description>
        <starttime>12:00</starttime>
		<endtime>2:00</endtime>
        <color>#ffb128</color>
    </event>

	<event>
		<id>3</id>
		<name>Another Event</name>
		<startdate>2017-1-20</startdate>
		<enddate>2017-1-22</enddate>
		<starttime>9:00</starttime>
		<endtime>10:00</endtime>
		<color>#9cc370</color>
		<url></url>
	</event>

	<event>
		<id>4</id>
		<name>Another Event</name>
		<startdate>2017-2-20</startdate>
		<enddate></enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#9f4b99</color>
		<url></url>
	</event>

	<event>
		<id>5</id>
		<name>Another Event</name>
		<startdate>2017-3-10</startdate>
		<enddate>2017-3-11</enddate>
		<starttime>9:00</starttime>
		<endtime>10:00</endtime>
		<color>#9cc370</color>
		<url></url>
	</event>

	<event>
		<id>6</id>
		<name>Another Event</name>
		<startdate>2017-4-5</startdate>
		<enddate>2017-4-7</enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#9f4b99</color>
		<url></url>
	</event>

	<event>
		<id>7</id>
		<name>XML Events</name>
		<startdate>2018-6-5</startdate>
		<starttime>12:00</starttime>
		<endtime>2:00</endtime>
		<description>This is a description of the event</description>
		<color>#ffb128</color>
		<url></url>
	</event>


</monthly>
